.active {
    padding: 10px;
    background: linear-gradient(to left, #1074BB, #93268F);
    cursor: pointer;
    margin-top: 10px;
    width: 450px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    }
    
    .default {
    padding: 10px;
    background:#93268F;
    cursor: pointer;
    margin-top: 20px;
    width: 450px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    }

    .default:hover {
    background: #1074BB;
    }
    
    .content {
    padding: 15px 30px;
    color: #20262E;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    }

    @media only screen and (max-width: 800px) {
        .active {
            width: 300px;
            font-size: 20px;
            }
            
            .default {
            width: 300px;
            font-size: 20px;
            }
        
            .content {
            padding: 15px 15px;
            font-size: 15px;
            }
        
    }