
body {
  background-image: url(assets/background.png);
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.navbar {
margin-top: 20px;
  height: 90px;
  width: auto;
  background: linear-gradient(to bottom, #1074BB, #93268F);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}
.navbar a:hover {
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5); 
  color: #FFC7EA;
}

.link {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
}


.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.logo-text, .logo-address {
  display: flex;
  flex-direction: column; 
  margin-left: 30px;
}

.address {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px; 
  line-height: 1.5;
}

.petvet {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 40px; 
  font-weight: 500;
}

.clinic {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin-left: 25px;
  font-weight: 500;
}
.menu {
  display: flex;
}
.menu-link {
  margin-left: 60px; 
}

.home-photo {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 15px;
}

.position-relative {
  position: relative;
}

.welcome {
  position: absolute;
  right: 9%;
  transform: translateY(-50%);
  color: #93268F; 
  font-family: "Roboto", sans-serif;
  font-size: 70px;
}
.welcome-block {
  display: flex;
  flex-direction: column;
}

.welcome-name {
  position: absolute;
  top: 20%;
  right: 5%;
  transform: translateY(-90%);
  color: #93268F; 
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  font-weight: bold;
}

.icon-block {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-left: 150px;
  margin-right: 150px;
}

.icon-container {
  width: 140px;
  height: 140px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  transform: translateY(-50%);
  border: #93268F solid 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.round-icon {
  width: 80px;
  height: auto;
  transform: translateY(30%) translateX(35%);
  display: block;
}

.icon-text {
  font-family: "Roboto", sans-serif;
  color: #20262E;
  font-size: 18px;
  font-weight: 500;
  transform: translateY(-170%)
}

.icon-text-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-us-btn {
  display: flex;
  justify-content: center;
  transform: translateY(-60%);
}

.home-btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 310px;
  height: 70px;
  color: #fff;
  font-size: 35px;
  background: linear-gradient(to bottom, #93268F, #1074BB);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  text-decoration: none;
}
.home-btn:hover {
  filter: brightness(1.5); 
}
.icon-img {
  width: 48px; 
  height: auto;
  margin-right: 20px; 
  margin-left: 10px;
}

.vet-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vet-text, .vet-gallery {
  max-width:  650px;
  
}
.main-about {
  font-family: "Roboto", sans-serif;
  color: #93268F;
  font-size: 30px;
  font-weight: 500;
  
}
.text-about {
  font-family: "Roboto", sans-serif;
  color: #20262E;
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
}
.end-about {
  font-family: "Roboto", sans-serif;
  color: #93268F;
  font-size: 20px;
  font-weight: 500;

}
.vet-name {
  font-family: "Roboto", sans-serif;
  color: #93268F;
  font-size: 20px;
  font-weight: 500;
}
.vet-description {
  font-family: "Roboto", sans-serif;
  color: #20262E;
  font-size: 18px;
}
.btn-previous {
  width: 200px;
  background: linear-gradient(to right, #1074BB, #93268F);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  margin-right: 10px;
  padding: 5px;

}
.btn-next {
width: 200px;
background: linear-gradient(to left, #1074BB, #93268F);
color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  margin-left: 10px;
  padding: 5px;
}
.btn-next:hover, .btn-previous:hover {
  filter: brightness(1.5); 
}
.vet-img {
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  width: 500px;
}
.parent {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  line-height: 1;
  margin-bottom: 50px;
}
.child {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #93268F, #1074BB);
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 200px;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.child:hover {
  background: linear-gradient(to left, #93268F, #1074BB);
}
.child-right {
  display: flex;
  flex-direction: column;
  background: #1074BB;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 200px;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}
.child-right:hover {
  background: #93268F;
}
.child-left {
  display: flex;
  flex-direction: column;
  background: #93268F;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 200px;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}
.child-left:hover {
  background: #1074BB;
}
.number {
  align-self: center;
  color: #fff;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
}
.text {
  align-self: center;
  color: #fff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.service {
  display: flex;
  flex-wrap: wrap;
}

.service-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}

.cont {
  display: flex;
  justify-content: center;
}

.back {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  color: #93268F;
  font-size: 30px;
  font-weight: 500;
}

.change {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100px;
  background: linear-gradient(to left, #1074BB, #93268F);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  margin-left: 25px;
  padding: 5px;
  }
  .change:hover {
    filter: brightness(1.5); 
  }
.card-pets {
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}
.card-text, .hotel-text, .salon-text {
  color: #20262E;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.card-price {
  color: #93268F;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.main-hotel {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.hotel-container {
  margin-top: 50px;
  display: flex;
 justify-content:space-around;
 margin-bottom: 50px;
}


.imag-hotel {
  max-width: 600px;
  max-height: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.slick-slider {
  max-width: 600px; 
}
  
.pet-hotel {
  color: #93268F;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
}
.footer {
display: flex;
justify-content: space-around;
background: linear-gradient(to left, #93268F, #1074BB);
max-height: 40px;
padding: 10px;
box-shadow: 0 0 15px rgba(0, 0, 0, 1);
margin-top: 50px;
}

.copyright {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.footer-content {
  margin-left: 20px;
}

.music-btn {
  color: #1074BB;
  border: none;
  background: transparent;
  width: 100px;
  height: 100px;
  transform: translateY(80%);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}



@media only screen and (max-width: 800px) {
  .navbar {
    margin-top: 10px;
      height: 80px;
      flex-direction: column;
      padding: 0 20px; 
    }
    
    .link {
      font-size: 10px;
    }
    
    .logo img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    
    .logo-text, .logo-address {
      flex-direction: column; 
      margin-left: 10px;
    }
    
    .address {
      font-size: 10px; 
      line-height: 1;
    }
    
    .petvet {
      font-size: 20px; 
    }
    
    .clinic {
      font-size: 15px;
      margin-left: 15px;
    }
   
    .menu-link {
      margin-left: 10px; 
    }
    
    .home-photo {
      margin-top: 10px;
    }
    
    .welcome {
      right: 2%;
      top: 2%;
      transform: translateY(-50%);
      font-size: 20px;
    }
    .welcome-block {
      flex-direction: column;
    }
    
    .welcome-name {
      right: 2%;
      transform: translateY(-700%);
      font-size: 20px;
    }
    
    .icon-block {
      flex-direction: column;
    }
    
    .icon-container {
      width: 100px;
      height: 100px;
      transform: translateY(-20%);
    }
    
    .round-icon {
      width: 60px;
    }
    
    .icon-text {
      font-size: 10px;
      transform: translateY(-70%)
    }
    
    .call-us-btn {
      transform: translateY(20%);
    }
    
    .home-btn {
      width: 210px;
      height: 60px;
      font-size: 20px;
    }
    
    .icon-img {
      width: 30px; 
      margin-left: 20px;
    }
    
.music-btn {
  width: 100px;
  height: 100px;
  transform: translateY(20%);
  
}
.footer {
  max-height: 80px;
  flex-direction: column;
  align-items: center;
  }
  
  .copyright {
    font-size: 12px;
  }
  .footer-content {
    margin-left: 5px;
  }

  .vet-container {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }
  
  .vet-text, .vet-gallery {
    max-width:  350px;
    padding: 10px;
  }
  .main-about {
    font-size: 20px;
  }
  .text-about {
    font-size: 15px;
    line-height: 1.5;
  }
  .end-about {
    font-size: 16px;
  }
  .vet-name {
    font-size: 16px;
  }
  .vet-description {
    font-size: 15px;
  }
  .btn-previous {
    width: 100px;
    font-size: 10px;
  }
  .btn-next {
  width: 100px;
    font-size: 10px;
  }
  .vet-img {
   width: 300px;
  }
  .parent {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .child, .child-right, .child-left {
    width: 100px;
    height: 150px;
  }

  .number {
    font-size: 30px;
  }
  .text {
    font-size: 10px;
}

.card-text, .hotel-text, .salon-text {
  font-size: 15px;
  line-height: 1.5;
  margin-left: 10px;

}
.card-price {
  font-size: 20px;
  margin-left: 10px;
  
}

.main-hotel {
  margin-top: 10px;
  margin-left: 10px;
}

.hotel-container {
  margin-top: 10px;
  flex-direction: column;
 margin-bottom: 10px;
 margin-left: 10px;
}


.imag-hotel {
  max-width: 350px;
  max-height: 150px;
}

.slick-slider {
  max-width: 350px; 
}
  
.pet-hotel {
  font-size: 20px;
}

.back {
  margin-top: 10px;
  font-size: 20px;
}

.change {
  margin: 15px;
  font-size: 10px;
  }
}